<!DOCTYPE html>
<html>
  <head>
    <title>WaterBnb</title>
    <link rel = "icon" href =  
"http://logok.org/wp-content/uploads/2014/07/airbnb-logo-belo-880x628.png" 
        type = "image/x-icon"> 
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>


