<!DOCTYPE html>
<html>
  <head>
    <title>WaterBnb</title>
    <link rel = "icon" href = "https://www.airbnb.com/favicon.ico" type = "image/x-icon"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyD1C8dp87CnGjTBtEyBMobnyLRACQ0FX_E&libraries=places" %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>


